{% extends 'base.html'%}

{% block contents %}
<head>
    <style>
        #popup{
        display:none;
        }
        #question:hover + #popup{
            display: block;
            padding: 20px;
            background-color: lightgray;
        }
            
    </style>
</head>

<body>
<div class="container" >
    <div class="container"style="margin-top:100px;">
            <i id = "question" class="far fa-question-circle"></i> <div class="container" id="popup"><p>공지사항의 자세한 내용을 확인해보세요!</p></div>
    </div>
    <br><br>
    {% for notice in nposts %}
    <div class="card" style="width: 60rem; text-align:center; margin: 0 auto;">
            <div class="card-body">
                <h5 class="card-title">{{notice.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{notice.pub_date}}</h6>
                <p class="card-text">{{notice.summary}}</p>
                <a class="btn btn-warning" href="{% url 'ndetail' notice.id %}" role="button">더 보기</a>


            </div>
    </div>
    <br><br>
    {% endfor %}
</div>


<div class="center" >
        <nav aria-label="Page navigation example" style="font-size:10px;">
                <ul class="pagination justify-content-center" >
                    {% if nposts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{nposts.previous_page_number}}">Previous</a></li>
                    {% endif %}
                    
    
                    <li class="page-item"><a class="page-link" href="#">{{ nposts.number }}</a></li>
                    <li class="page-item"><a class="page-link" href="#">of</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{nposts.paginator.num_pages}}">{{nposts.paginator.num_pages}}</a></li>
                    {% if nposts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{nposts.next_page_number}}">Next</a></li>
                    {% endif %}
    
                </ul>
        </nav>
    </div>
</body>


{% endblock %}
