<style>

    a:link{ text-decoration: none;

        color: gray;

        }

    a:visited{text-decoration: none;

        color:gray;

    }

    a:hover{ text-decoration: none;

        color:coral;

    }

    a:active{text-decoration: none;}

</style>

{% extends 'base.html' %}

{% block contents %}

    

    {% load staticfiles %}

    <!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"  style="background-image: URL(

http://fc05.deviantart.net/fs71/i/2012/124/4/f/pixel_art__parody_of_movie__by_joojaebum-d4yh8k7.jpg

    ); background-repeat:no-repeat;

background-position: 50% 50%; 

height: 400px;

width: 100%;"> -->
<div style="height: 230px; width: 100%; align-content: center;">
    <img src="{% static 'ENTER.jpg' %}" alt="Entertainment">
</div>

        <div class="col-md-5 p-lg-5 mx-auto my-5">

        <!-- <h1 class="display-4 font-weight-normal">Entertainment Creators</h1> -->

        <!-- <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p> -->

        <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->

    </div>

    <div class="product-device shadow-sm d-none d-md-block"></div>

    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>

    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 716px;">

        <div class="my-3 py-3">

        <h2 class="display-5">ASMR soupe</h2>

        <p class="lead"><a href="https://www.youtube.com/channel/UCjCDp8b2wtGIiaC3ZqKomSQ">&gt; 유튜브 바로가기 &lt;</a></p>

        </div>

        <!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> -->

        <img src="{% static 'soupe.jpg' %}" alt="soupe" style="width: 400px; height:250px;">

        <!-- </div> -->

    </div>

    

    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">

        <div class="my-3 p-3">

        <h2 class="display-5">김레인</h2>

        <p class="lead"><a href="https://www.youtube.com/channel/UCj9LQu5-mfrf6imcyrnZfug">&gt; 유튜브 바로가기 &lt;</a></p>

        

        </div>

        <img src="{% static 'kimrain.jpg' %}" alt="lee" style="width: 400px;">



        <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->

    </div>

            

    </div>

    

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">

        <div class="my-3 p-3">

        <h2 class="display-5">딩고 스토리</h2>

        <p class="lead"><a href="https://www.youtube.com/user/moncastwebdong">&gt; 유튜브 바로가기 &lt;</a></p>

        </div>

        <img src="{% static 'dingo.jpg' %}" alt="lee" style="width: 400px;">

        <!--<div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->

    </div>

    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 716px;">

        <div class="my-3 py-3">

        <h2 class="display-5">라이너의 컬쳐쇼크</h2>

        <p class="lead"><a href="https://www.youtube.com/channel/UCIXvXBYSc9fQ7Ri5SM1r8xA">&gt; 유튜브 바로가기 &lt;</a></p>

        </div>

        <img src="{% static 'cultureshock.jpg' %}" alt="lee" style="width: 400px;">

        <!--<div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->

    </div>

    </div>

    

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">

        <div class="my-3 p-3">

        <h2 class="display-5">마인TV</h2>

        <p class="lead"><a href="https://www.youtube.com/channel/UCzbLTaNlODXhvobAcTs4XRQ">&gt; 유튜브 바로가기 &lt;</a></p>

        </div>

        <img src="{% static 'minetv.jpg' %}" alt="lee" style="width: 400px;">

        <!--<div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->

    </div>

    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">

        <div class="my-3 py-3">

        <h2 class="display-5">선바</h2>

        <p class="lead"><a href="https://www.youtube.com/user/Sunbaaking">&gt; 유튜브 바로가기 &lt;</a></p>

        </div>

        <img src="{% static 'sunba.jpg' %}" alt="lee" style="width: 400px;">

        <!--<div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->

    </div>

    </div>

{% endblock %}

